[submodule "ejemplo-fei"]
	path = ejemplo-fei
	url = https://github.com/SaraOrtegaHdez13/ejemplo-fei.git
[submodule "poema-40260"]
	path = poema-40260
	url = https://github.com/SaraOrtegaHdez13/poema-40260.git
[submodule "starwars"]
	path = starwars
	url = https://github.com/SaraOrtegaHdez13/starwars.git
